In [30]:
import requests
from bs4 import BeautifulSoup
import numpy as np


name = "Jordan_Henderson"
url = "https://en.wikipedia.org/wiki/" + name

# Send a GET request to the URL
response = requests.get(url)

# Create a BeautifulSoup object to parse the HTML content
soup = BeautifulSoup(response.content, "html.parser")

# Find the table containing senior career information
career_table = soup.find("table", {"class": "wikitable"})
# print(career_table)
# Extract the rows from the table
rows = career_table.find_all("tr")

# Iterate over the rows and print the senior career information
# for row in rows[1:]:
#     columns = row.find_all("td")
#     if len(columns) > 0:
#         season = columns[0].text.strip()
#         club = columns[1].text.strip()
#         appearances = columns[2].text.strip()
#         goals = columns[3].text.strip()
#         print(f"Season: {season}")
#         print(f"Club: {club}")
#         print(f"Appearances: {appearances}")
#         print(f"Goals: {goals}")
#         print()
data = []        
for row in rows[2:]:
    if row == None:
        continue
    else:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        data.append([ele for ele in cols if ele]) # Get rid of empty values
# data

In [31]:
print(data)

[['Sunderland', '2008–09[157]', 'Premier League', '1', '0', '0', '0', '1', '0', '—', '—', '2', '0'], ['2009–10[21]', 'Premier League', '33', '1', '2', '0', '3', '1', '—', '—', '38', '2'], ['2010–11[26]', 'Premier League', '37', '3', '1', '0', '1', '0', '—', '—', '39', '3'], [], ['Coventry City (loan)', '2008–09[157]', 'Championship', '10', '1', '3', '0', '—', '—', '—', '13', '1'], ['Liverpool', '2011–12[38]', 'Premier League', '37', '2', '5', '0', '6', '0', '—', '—', '48', '2'], ['2012–13[158]', 'Premier League', '30', '5', '2', '0', '2', '0', '10[a]', '1', '—', '44', '6'], ['2013–14[41]', 'Premier League', '35', '4', '3', '0', '2', '1', '—', '—', '40', '5'], ['2014–15[159]', 'Premier League', '37', '6', '7', '0', '4', '0', '6[b]', '1', '—', '54', '7'], ['2015–16[65]', 'Premier League', '17', '2', '0', '0', '3', '0', '6[a]', '0', '—', '26', '2'], ['2016–17[68]', 'Premier League', '24', '1', '0', '0', '3', '0', '—', '—', '27', '1'], ['2017–18[72]', 'Premier League', '27', '1', '1', '0', '1', '0', '12[b]', '0', '—', '41', '1'], ['2018–19[160]', 'Premier League', '32', '1', '0', '0', '1', '0', '11[b]', '0', '—', '44', '1'], ['2019–20[161]', 'Premier League', '30', '4', '0', '0', '0', '0', '6[b]', '0', '4[c]', '0', '40', '4'], ['2020–21[162]', 'Premier League', '21', '1', '1', '0', '0', '0', '6[b]', '0', '0', '0', '28', '1'], ['2021–22[163]', 'Premier League', '35', '2', '5', '0', '5', '0', '12[b]', '1', '—', '57', '3'], ['2022–23[164]', 'Premier League', '35', '0', '2', '0', '1', '0', '4[b]', '0', '1[d]', '0', '43', '0'], [], []]

In [32]:
data[8]

['2014–15[159]',
 'Premier League',
 '37',
 '6',
 '7',
 '0',
 '4',
 '0',
 '6[b]',
 '1',
 '—',
 '54',
 '7']

In [33]:
df = pd.DataFrame(data)
df = df.dropna(how='all')

df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Sunderland,2008–09[157],Premier League,1,0,0,0,1,0,—,—,2,0,None
1,2009–10[21],Premier League,33,1,2,0,3,1,—,—,38,2,None,None
2,2010–11[26],Premier League,37,3,1,0,1,0,—,—,39,3,None,None
4,Coventry City (loan),2008–09[157],Championship,10,1,3,0,—,—,—,13,1,None,None
5,Liverpool,2011–12[38],Premier League,37,2,5,0,6,0,—,—,48,2,None
6,2012–13[158],Premier League,30,5,2,0,2,0,10[a],1,—,44,6,None
7,2013–14[41],Premier League,35,4,3,0,2,1,—,—,40,5,None,None
8,2014–15[159],Premier League,37,6,7,0,4,0,6[b],1,—,54,7,None
9,2015–16[65],Premier League,17,2,0,0,3,0,6[a],0,—,26,2,None
10,2016–17[68],Premier League,24,1,0,0,3,0,—,—,27,1,None,None
11,2017–18[72],Premier League,27,1,1,0,1,0,12[b],0,—,41,1,None
12,2018–19[160],Premier League,32,1,0,0,1,0,11[b],0,—,44,1,None
13,2019–20[161],Premier League,30,4,0,0,0,0,6[b],0,4[c],0,40,4
14,2020–21[162],Premier League,21,1,1,0,0,0,6[b],0,0,0,28,1
15,2021–22[163],Premier League,35,2,5,0,5,0,12[b],1,—,57,3,None
16,2022–23[164],Premier League,35,0,2,0,1,0,4[b],0,1[d],0,43,0

In [35]:
first_column_array = df.iloc[:, 0].values
first_column_array = np.insert(first_column_array, 0, name)

print(first_column_array)

['Jordan_Henderson' 'Sunderland' '2009–10[21]' '2010–11[26]'
 'Coventry City (loan)' 'Liverpool' '2012–13[158]' '2013–14[41]'
 '2014–15[159]' '2015–16[65]' '2016–17[68]' '2017–18[72]' '2018–19[160]'
 '2019–20[161]' '2020–21[162]' '2021–22[163]' '2022–23[164]']